# Logs
logs
*.log
npm-debug.log*

# IDE files
.idea
.vscode

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Build files
.build
